button, .status-btn {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 15px;
}
.primary {
  background-color: #ffa500;
}
.primary:hover {
  background-color: #ff4f00;
}
.secondary {
  background-color: grey;
}
.status-btn {
  background-color: grey;
}